<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Deepak Singh-cv website</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/"><p class="navbar-brand">Deepak Singh</p> </a>

      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="skills">SKILLS</a></li>
          <li id="compose"><a href="education">EDUCATION</a></li>
          <li id="about"><a href="projects">PROJECTS</a></li>
          <!-- <li id="compose"><a href="compose">HOBBIES</a></li>
          <li id="about"><a href="about">CONTACT ME</a></li> -->
        </ul>
    </div>
  </nav>

  <body>
