<%- include("partials/header"); -%>

<div class="container">
  <h2 style="margin-top: 50px;">Projects</h2>
  <div class="row">

    <div class="col col-lg-6">
      <h4>Slack clone</h4>
      <a href="https://github.com/sdeepak20292/slack-clone">github</a>

    </div>

    <div class="col col-lg-6 proj">
      <p>Developed slack clone with real time messaging, login authentication etc.</p>
      <p>Using React, Node.js, , React-Router-Dom, Material-ui, Firebase</p>
    </div>

  </div>

  <div class="row">

    <div class="col col-lg-6">
      <h4>Note taking website</h4>
      <a href="https://codesandbox.io/s/using-pre-built-react-components-forked-l1jyqm?file=/src/index.js">codesandbox</a>

    </div>

    <div class="col col-lg-6 proj">
      <p>Developed note taking website for personal use, using Node.JS, React </p>

    </div>

  </div>

  <div class="row">

    <div class="col col-lg-6">
      <h4>Daily Journal writing website</h4>
      <a href="https://github.com/sdeepak20292/daily-journal-writing">github</a>

    </div>

    <div class="col col-lg-6 proj">
      <p>Built daily journal writing website using Node.JS, Mysql.</p>
    </div>

  </div>

  <div class="row last">

    <div class="col col-lg-6">
      <h4>Banking System Application</h4>
    </div>

    <div class="col col-lg-6 proj">
      <p>Built banking system application using Mysql and python</p>
    </div>

  </div>





</div>

<hr class="line">

<div class="footer">
  <div class="phone footer-heading ">
    <h3>Phone</h3>
    <p>+917715871657</p>
  </div>

  <div class="email footer-heading ">
    <h3>Email</h3>
    <p>deepak20292@iiitd.ac.in</p>
  </div>

  <div class="social-media footer-heading ">
    <h3>Socail Media</h3>

    <p><a href="https://www.instagram.com/_deepak.07_/"><img class="insta_logo" alt="" src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/01c3aff52f2a4dffa526d7a9843d46ea.png"></a>
      | <a href="https://www.linkedin.com/in/deepak-singh-b92a111bb/"><img class="insta_logo" src="https://static.wixstatic.com/media/6ea5b4a88f0b4f91945b40499aa0af00.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/6ea5b4a88f0b4f91945b40499aa0af00.png" alt=""></a></p>

  </div>
</div>
