<%- include("partials/header"); -%>
<h1 class="skill">SKILLS</h1>
<div class="expertise">

  <h2>Expertise Areas</h2>
  <div class="expertise-area">
    <h4>Data Structures and Algorithms</h4>
    <p> &#9679; </p>
    <h4>Object Oriented Programming</h4>
    <p> &#9679; </p>
    <h4>Algorithms Design and Analysis</h4>
  </div>


  <h2 class="prog">Programming Languages</h2>
  <div class="languages">
    <h4>Java</h4>
    <p> &#9679; </p>
    <h4>Python</h4>
    <p> &#9679; </p>
    <h4>C</h4>
    <p> &#9679; </p>
    <h4>Javascript</h4>
    <p> &#9679; </p>
    <h4>SQL</h4>
  </div>



  <h2 class="prog">Tools and Technologies</h2>
  <div class="languages">
    <h4>React</h4>
    <p> &#9679; </p>
    <h4>Node.JS</h4>
    <p> &#9679; </p>
    <h4>GIT</h4>
    <p> &#9679; </p>
    <h4>MYSQL</h4>
    <p> &#9679; </p>
    <h4>Java Fx</h4>
  </div>


</div>

<hr class="line">

<div class="footer">
  <div class="phone footer-heading ">
    <h3>Phone</h3>
    <p>+917715871657</p>
  </div>

  <div class="email footer-heading ">
    <h3>Email</h3>
    <p>deepak20292@iiitd.ac.in</p>
  </div>

  <div class="social-media footer-heading ">
    <h3>Socail Media</h3>

    <p><a href="https://www.instagram.com/_deepak.07_/"><img class="insta_logo" alt="" src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/01c3aff52f2a4dffa526d7a9843d46ea.png"></a>
      | <a href="https://www.linkedin.com/in/deepak-singh-b92a111bb/"><img class="insta_logo" src="https://static.wixstatic.com/media/6ea5b4a88f0b4f91945b40499aa0af00.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/6ea5b4a88f0b4f91945b40499aa0af00.png" alt=""></a></p>

  </div>
</div>
